*{
    margin: 0px;
    padding: 0px;

}
body{
background: aqua;
font-family: Arial, Helvetica, sans-serif;
}

#contenedor{
    /*width: 70%,,, para hacer comentarios */
    width: 1100px;
    margin: 0px auto;
    border: 3px solid black;
}
header{
    background-color: beige;
    height: 100px;
    margin: 0px;
    text-align: center; /*lo centra horizontalmente*/
    line-height: 100px; /*para centrar verticalmente, depnde la altura ya establecida*/
    color:blueviolet;
    border-bottom: 2px dashed;
}

nav{
    background-color: brown;
    height: 60px;
    line-height: 40px;
    border-bottom: 2px solid black;
}
nav ul li{
    float:left;
    margin:10px;
    list-style: none;
}
.clearfix{
    clear:both;
}

#desarollo{
float: left;
width: calc(70% - 70px);
background-color: cadetblue;
min-height: 400px;
padding: 40px;
}

.article{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px whitesmoke solid;

}
.article h2{
    font-size: 25px;
}
.article:first-child{
    padding-top: 10px;
    border-top: 2px solid whitesmoke;
}


aside{
float: left;
width: calc(30% - 30px);
background-color: orange;
min-height: 400px;
padding: 10px;
padding-bottom: 80px;
}

footer{
background-color: aliceblue;
}


