/*layout*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
header{
    background-color: #0000cc   ;
    line-height: 78px;
    padding-left: 45px;
}

.enlace{
    color:white;
    line-height: 78px;
    font-size: x-large;
}

input[type=text]{
    width: 50%;
}
.fa-magnifying-glass {
    color:blue;

}
nav{
    margin: 30px;
    text-align: center;
}

#container{
    border:2px solid black;
    margin-left: 50px;
    margin-right: 50px;

}
.clearfix{
    clear: both;
}


#contenido{
    padding: 20px;

}


/*pagina docente*/
.article{
    border: 1px solid black;
    max-width: 50%;
    margin: 10px;
    padding: 20px;
}
