<!DOCTYPE html>
<html> 
<head> 
    <meta charset="utf-8"/>
    <title>{%block title%} {% endblock%}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/layout.css')}}"/>
    {% block css %}  {% endblock %}
</head>


<body id="body">
     <header>
            <a class="enlace" href="http://127.0.0.1:5000/pagina_horarios/"> HODEFES</a>
        </header>
        <nav>
            <form> 
                {% block menu %} {% endblock %}
                <i class="fa-solid fa-filter"></i> 
                <input type="text"/>
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
        </nav>
    <div id="container">
        <section id="contenido">
            {% block articles %}
            {% endblock %}
        </section>
    </div>
</body>
</html>