<!DOCTYPE html>
<html> 
<head> 
    <meta charset="utf-8"/>
    <title>HODEFES ඞ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/pagina horarios.css')}}"/>
</head>

<body id="body">
     <header>
            <a class="enlace" href="http://127.0.0.1:5000/pagina_horarios/"> HODEFES</a>
        </header>
        <nav>
            <form> 
                <i class="fa-solid fa-filter"></i> 
                <input type="text"/>
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
        </nav>
    <div id="container">
        <section id="contenido">

            <div class="horarios">
                {% for profesor in datos %}
                    <article class="article"> 
                        <h1> {{profesor.nombre}} </h1>
                        <h3> {{profesor.asignatura}} </h3>
                        <h3> Lugares donde se puede encontrar</h3>
                        <p> {{profesor.lugar}} </p>
                        <h3>  Horarios  </h3>
                            <ul>
                                <li> {{profesor.horario}} </li>
                            </ul>
                        <a href={{profesor.pdf}} >PDF</a>
                        <a href="{{url_for('inicio_de_sesion')}}">    
                            <button type="button"> Sistema de consulta</button>  
                        </a>

                    </article>
                {% endfor %}
            </div>
        </section>
    </div>
</body>
</html>

