<!DOCTYPE html>
<html> 
<head> 
    <meta charset="utf-8"/>
    <title>HODEFES ඞ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/pagina horarios.css')}}"/>
    <style>
        .modal_fondo{
            display: none;
            position: fixed;

            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
            padding-left: 35%;
            padding-top: 5%;

            background-color: rgba(0,0,0,0.5);



        }

        .modal{
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            width: 350px;
            position:absolute;
        }
    </style>    
</head>

<body id="body">
     <header>
            <a class="enlace" href="http://127.0.0.1:5000/pagina_horarios/"> HODEFES</a>
        </header>
        <nav>
            <form> 
                <i class="fa-solid fa-filter"></i> 
                <input type="text"/>
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
        </nav>
    <div id="container">
        <!--cuadros de informacion de los docentes -->
        <section id="contenido">
            <div class="horarios">
                {% for profesor in profes %}
                    <article class="article"> 
                        <h1 id="nombre_profesor"> {{profesor.nombre}} </h1>
                        <h3> Lugares donde se puede encontrar:</h3>
                        <p> {{profesor.lugar}} </p>
                        <h3>  Horarios  </h3>
                            <ul>
                                <li> {{profesor.horario}} </li>
                            </ul>
                        <a href={{profesor.pdf}} >PDF</a> 

                        <button onclick="abrirmodal('{{ loop.index }}')"> 
                            Sistema de consulta
                        </button>  
                        <!-- cuadro del sistema de consultas -->
                        <div class ="modal_fondo" id="modal-{{ loop.index }}">
                            <div class="modal">
                                <!-- cerrar sistema de consultas -->
                                <button onclick="cerrarmodal('{{ loop.index }}')">
                                    X
                                </button>
                                <h2>Ha entrado al sistema de consultas, ¿Que quiere hacer con {{profesor.nombre}}? </h2>
                                <!-- enviar consulta presencial -->
                                <form action="/enviar_ticket/{{carrera}}/{{usuario}}/{{profesor.nombre}}" method="POST">
                                    <button type="submit" name="Presencial">
                                        Consulta Presencial
                                    </button>
                                </form>
                                <!-- enviar Duda -->
                                <button onclick="texto_click()" class="texto_click"> 
                                    Escribir Duda 
                                </button>
                                    <div class="contenido_duda" id="contenido_duda">
                                        <form action="/enviar_ticket/{{carrera}}/{{usuario}}/{{profesor.nombre}}" method="POST">
                                            <input type="text" placeholder="Escriba aqui su duda" name="Duda" >
                                            <input type="submit">
                                        </form>
                                    </div>

                                <!-- mostrar tickets enviados y respondidos-->
                                <h2> Tickets enviados </h2>
                                    <h4> Pendientes: </h4>
                                    <!-- para despues-->
                                    <h4> Respondidos: </h4>
                                    <!-- para despues-->
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
            
        <script>
            function abrirmodal(id){
                document.getElementById("modal-"+id).style.display = "block";

            }
            function cerrarmodal(id){
                document.getElementById("modal-"+id).style.display = "none";
            }
            function texto_click(){        
                let contenido = document.getElementById("contenido_duda");

                if(contenido.style.display == "block"){
                    contenido.style.display = "none";
                }
                else{
                    contenido.style.display = "block";
                }
            }
        </script>
        </section>
    </div>
</body>
</html>


