<!DOCTYPE html>
<html>
<head>
<body>
<div>
<div id="container">
    <header>
<h1> inicio de sesion</h1>

<link rel="stylesheet" href="style.css">

    </header>

<centering>
        <form> 
            <h2> ingresar datos </h2>
            <h3> ingrese su correo electronico</h3>
            <input type="email">
            <h3> ingrese su contraseña</h3>
            <input type="password">
        </form>


    </centering>
   





</body>



</head>
</html>
