<!DOCTYPE html>
<html> 
<head> 
    <meta charset="utf-8"/>
    <title> HODEFES Docentes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/pagina docentes.css')}}"/>
</head>

<body id="body">
    <header>
        <a class="enlace" href="http://127.0.0.1:5000/pagina_horarios/"> HODEFES</a>
    </header>
    <nav>
        <form> 
            <input type="text"/>
            <i class="fa-solid fa-magnifying-glass"></i>
        </form>
    </nav>
    {% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
            <div id="modal-exito" class="modal_flash">
                <div class="modal-contenido">
                    <p>{{ mensajes[0] }}</p>
                </div>
            </div>
        {% endif %}
    {% endwith %}
    <div id="container">
        <section id="contenido">
            <div class="tickets_pendientes">
                <h1> Tickets Pendientes </h1>
                {% for ticket in Tickets%}
                    {% if ticket.docente == usuario and ticket.estado == "pendiente" %}
                        <h4>Estudiante: {{ticket.estudiante}}</h4>
                        <h4> Tipo de Ticket: {{ticket.tipo}}</h4>
                        <h4> Carrera: {{ticket.carrera}}</h4>
                        <button onclick="abrirmodal('{{ ticket.id }}')">
                            Ver ticket
                        </button>
                        <br>
                        <!--Modal de los tickets-->
                        <div class="modal_fondo" id="modal-{{ ticket.id }}">
                            <div class="modal">
                                <button onclick="cerrarmodal('{{ ticket.id }}')">
                                    x
                                </button>
                                <h2> {{ ticket.estudiante }} </h2>
                                <h4> {{ ticket.carrera }} </h4>
                                <h4> {{ ticket.tipo }} </h4>
                                <p> {{ticket.contenido}} </p>
                                <form action="/responder_ticket/{{carrera}}/{{usuario}}/{{ticket.id}}" method="POST">
                                    <input type="hidden" name="id" id="ticketId">
                                    <textarea name="respuesta"></textarea>
                                    <button type="submit" name="coordinar_reunion">
                                        Coordinar reunion breve
                                    </button>
                                    <button type="submit" name="enviar_resuelto">
                                        Enviar y marcar como hecho
                                    </button>
                                    <button type="submit" name="enviar_pendiente">
                                        Enviar y marcar como pendiente
                                    </button>
                                </form>
                            </div>
                        </div>   
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tickets_respondidos">
                <h1> Tickets Respondidos </h1>
                {% for ticket in Tickets%}
                    {% if ticket.docente == usuario and ticket.estado == "respondido" %}
                            <h4>Estudiante: {{ticket.estudiante}}</h4>
                            <h4> Tipo de Ticket: {{ticket.tipo}}</h4>
                            <h4> Carrera: {{ticket.carrera}}</h4>
                            <button onclick="abrirmodal('{{ ticket.id }}')">
                                Ver ticket
                            </button>
                            <br>
                            <!--Modal de los tickets-->
                            <div class="modal_fondo" id="modal-{{ ticket.id }}">
                                <div class="modal">
                                    <button onclick="cerrarmodal('{{ ticket.id }}')">
                                        x
                                    </button>
                                    <h2> {{ ticket.estudiante }} </h2>
                                    <h4> {{ ticket.carrera }} </h4>
                                    <h4> {{ ticket.tipo }} </h4>
                                    <h4> contenido ticket </h4>
                                    <p> {{ticket.contenido}} </p>
                                    <h4> respuesta </h4>
                                    <p> {{ticket.respuesta}} </p>

                                </div>
                            </div>    
                    {% endif %}
                {% endfor %}
            </div>
        <script>
            function abrirmodal(id){
                document.getElementById("modal-"+id).style.display = "flex";

            }
            function cerrarmodal(id){
                document.getElementById("modal-"+id).style.display = "none";
            }
            setTimeout(() => {
                const modal = document.getElementById("modal-exito");
                if(modal){
                    modal.style.display = "none";
                }
            }, 2000);
        </script>
        </section>
    </div>
</body>
</html>
