<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HODEFES</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/inicio de sesion.css')}}" />
</head>
<body>

  <header>
    <h2>HODEFES</h2>
    <p>· HORARIOS Y CONSULTAS PARA ESTUDIANTES </p>
  </header>

  <div class="contenedor">
    <form action="/login" method="POST">
      <h2>Ingresar datos</h2>

      <h3>Ingrese su correo electrónico</h3>
      <input type="email" placeholder="nombre.apellido@universidad.cl" name="correo">

      <h3>Ingrese su contraseña</h3>
      <input type="password" placeholder="••••••••" name="contraseña">

      <input type="submit" value="Iniciar sesión">
    </form>

    <aside>
      <h3>En caso de ser invitado presione el botón de abajo</h3>
      <p>(Esto excluirá el acceso a ciertas opciones)</p>
      <input type="submit" value="Entrar como invitado">
    </aside>

    <footer>
      <h4>Página oficial</h4>
    </footer>
  </div>

</body>
</html>

