<!DOCTYPE html>
<html> 
<head> 
    <meta charset="utf-8"/>
    <title>HODEFES </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/pagina horarios.css')}}"/>
</head>

<body id="body">
     <header>
            <a class="enlace" href="http://127.0.0.1:5000/pagina_horarios/"> HODEFES</a>
    </header>
        <nav>
            <form> 
                <i class="fa-solid fa-filter"></i> 
                <input type="text"/>
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
        </nav>
        {% with mensajes = get_flashed_messages() %}
            {% if mensajes %}
                <div id="modal-exito" class="modal_flash">
                    <div class="modal-contenido">
                        <p>{{ mensajes[0] }}</p>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
    <div id="container">
        <!--cuadros de informacion de los docentes -->
        <section id="contenido">
            <div class="horarios">
                {% for profesor in profes %}
                    <article class="article"> 
                        <h1 id="nombre_profesor"> {{profesor.nombre}} </h1>
                        <h3> {{profesor.asignatura}} </h3>
                        <h3> Lugares donde se puede encontrar:</h3>
                        <p> {{profesor.lugar}} </p>
                        <h3>  Horarios  </h3>
                            <ul>
                                <li> {{profesor.horario}} </li>
                            </ul>
                        <a href={{profesor.pdf}} >PDF</a> 

                        <button onclick="abrirmodal('{{ loop.index }}')"> 
                            Sistema de consulta
                        </button> 
                    </article> 
                        <!-- cuadro del sistema de consultas -->
                        <div class ="modal_fondo" id="modal-{{ loop.index }}">
                            <div class="modal">
                                <!-- cerrar sistema de consultas -->
                                <button onclick="cerrarmodal('{{ loop.index }}')">
                                    X
                                </button>
                                <h2>Ha entrado al sistema de consultas, ¿Que quiere hacer con {{profesor.nombre}}? </h2>
                                <!-- enviar consulta presencial -->
                                 <button onclick="texto_click('presencial-{{ loop.index }}')" class="texto_click" id="boton_presencial"> 
                                    <h3>Presencial</h3>
                                </button>
                                    <div class="contenido_duda" id="presencial-{{ loop.index }}">
                                        <form action="/enviar_ticket/{{carrera}}/{{usuario}}/{{profesor.nombre}}" method="POST">
                                            <input type="text" placeholder="Escriba aqui los detalles de la reunion" name="Presencial" >
                                            <input type="submit" >
                                        </form>
                                    </div>
                                <!-- enviar Duda -->
                                <button onclick="texto_click('duda-{{ loop.index }}')" class="texto_click" id="boton_duda"> 
                                    <h3>Escribir Duda </h3>
                                </button>
                                    <div class="contenido_duda" id="duda-{{ loop.index }}">
                                        <form action="/enviar_ticket/{{carrera}}/{{usuario}}/{{profesor.nombre}}" method="POST">
                                            <input type="text" placeholder="Escriba aqui su duda" name="Duda" >
                                            <input type="submit">
                                        </form>
                                    </div>
                                <!-- mostrar tickets enviados y respondidos-->
                                <div class="tickets_enviados">
                                    <h2> Tickets enviados </h2>
                                    <h3> Pendientes: </h3>
                                    {% for ticket in Tickets %}
                                        {% if ticket.estudiante == usuario and ticket.docente == profesor.nombre and ticket.estado == "pendiente" %}
                                            <h4> {{ ticket.estudiante }} </h4>
                                            <h4> {{ ticket.carrera }} </h4>
                                            <h4> {{ ticket.tipo }} </h4>
                                            <p> {{ticket.contenido}} </p>
                                        {% endif %}
                                    {% endfor %}
                                    <h3> Respondidos: </h3>
                                    {% for ticket in Tickets %}
                                        {% if ticket.estudiante == usuario and ticket.docente == profesor.nombre and ticket.estado == "respondido" %}
                                            <h2> {{ ticket.estudiante }} </h2>
                                            <h4> {{ ticket.carrera }} </h4>
                                            <h4> {{ ticket.tipo }} </h4>
                                            <p> {{ticket.contenido}} </p>
                                            <h4> respuesta: </h4>
                                            <p> {{ticket.respuesta}} </p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                {% endfor %}
            </div>
        </section>
    </div>
    <script>
            function abrirmodal(id){
                document.getElementById("modal-"+id).style.display = "flex";

            }
            function cerrarmodal(id){
                document.getElementById("modal-"+id).style.display = "none";
            }
            function texto_click(id){       
                let contenido = document.getElementById(id);

                if(contenido.style.display == "block"){
                    contenido.style.display = "none";
                }
                else{
                    contenido.style.display = "block";
                }
            }
            setTimeout(() => {
                const modal = document.getElementById("modal-exito");
                if(modal){
                    modal.style.display = "none";
                }
            }, 2000);
    </script>
</body>
</html>


